<header id="top" class="header">
  <div class="text-vertical-center">
    <!-- <h1>Start Bootstrap</h1> -->
    <p style="font-weight: bolder; background-color: rgba(100,97,97,0.3);"> No contexto da minha tese de mestrado</br> 
    GamEmotion é um jogo para computador para ajudar adolescentes a aprender emoções e estratégias de regulação emocional.</br> 
    Se puderes jogar um pouco para perceber a jogabilidade/usabilidade e preencher um questionário eras mesmo fixe :) </br>
    Se gostares do jogo podes jogar o tempo que quiseres :p no entanto basta que jogues 10 ou 15 minutos e depois respondas ao questionário (2 minutos)</p>
    <br>

      <a href="https://drive.google.com/file/d/1tl27c_KAqYA5Dpq1WBEufwa-pUodXTLh/view?usp=sharing" ><img style="max-height: 46px;" src="img/winD.png" alt="Download para Windows"></a>
      <a href="https://drive.google.com/file/d/1gYMg13zIuLyZRQPLmBoYkqMAl3tCKtY5/view?usp=sharing" ><img style="max-height: 46px;" src="img/macD.png" alt="Download para Mac"></a>
      <a href="https://forms.gle/7Jzc8MeHUfkx514H7" ><img style="max-height: 46px;" src="img/form.png" alt="form"></a>
    
  </div>
</header>
