<header id="top" class="header">
  <div class="text-vertical-center">
    <!-- <h1>Start Bootstrap</h1> -->
    <p style="font-weight: bolder; background-color: rgba(100,97,97,0.3);"> No contexto da minha tese de mestrado</br> 
    GamEmotion é um jogo para computador para ajudar adolescentes a aprender emoções e estratégias de regulação emocional.</br> 
    No contexto da minha tese de mestrado, GamEmotion consiste num jogo serio para melhorar as capacidades de regulação emocional</br> 
    nos adolescentes e nos seus pais e que está a ser desenvolvido no LIACC por uma equipa multidisciplinar contendo</br> 
    desenvolvedores e também profissionais da área de psicologia. Nesta fase o jogo está implementado e foi testado</br> 
    relativamente à sua vertente de usabilidade/jogabilidade/experiencia de utilização. No entanto, o próximo passo</br> 
    do projeto será testar e validar as capacidades terapêuticas do jogo junto do publico alvo. Tenho recebido vários </br> 
    contactos do publico no sentido de disponibilizar o jogo, contudo, na área da saúde não se devem disponibiliza recursos </br> 
    que têm um propósito terapêutico sem os validar primeiro com o público alvo.
    
  
    </p>
    <br>

    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/Z22XDImNlRM" allowfullscreen="allowfullscreen"
    mozallowfullscreen="mozallowfullscreen" 
    msallowfullscreen="msallowfullscreen" 
    oallowfullscreen="oallowfullscreen" 
    webkitallowfullscreen="webkitallowfullscreen">
    </iframe>

      <!-- <a href="https://drive.google.com/file/d/1tl27c_KAqYA5Dpq1WBEufwa-pUodXTLh/view?usp=sharing" ><img style="max-height: 46px;" src="img/winD.png" alt="Download para Windows"></a>
      <a href="https://drive.google.com/file/d/1gYMg13zIuLyZRQPLmBoYkqMAl3tCKtY5/view?usp=sharing" ><img style="max-height: 46px;" src="img/macD.png" alt="Download para Mac"></a> -->
      <!-- <a href="https://forms.gle/7Jzc8MeHUfkx514H7" ><img style="max-height: 46px;" src="img/form.png" alt="form"></a> -->

     
    
  </div>
</header>
