<header id="top" class="header">
  <div class="text-vertical-center">
    <!-- <h1>Start Bootstrap</h1> -->
    <p style="font-weight: bolder;">A minha tese foi desenvolver um jogo para computador para ajudar adolescentes a aprender emoções e estratégias de regulação emocional.</br> 
    Apesar de não seres o publico alvo estou a precisar de ajudar para testar apenas a jogabilidade usabilidade e não o conteúdo em si.</br>
    Se puderes jogar um pouco e preencher um questionário eras mesmo fixe :) </br>
    Se gostares do jogo podes jogar o tempo que quiseres :p no entanto basta que jogues 10 ou 15 minutos e depois respondas ao questionário (2 minutos)</p>
    <br>

      <a href="" ><img style="max-height: 46px;" src="img/winD.png" alt="Download para Windows"></a>
      <a href="" ><img style="max-height: 46px;" src="img/macD.png" alt="Download para Mac"></a>
      <a href="https://forms.gle/7Jzc8MeHUfkx514H7" ><img style="max-height: 46px;" src="img/form.png" alt="form"></a>
    
  </div>
</header>
